.rectangle {
    display: inline-block;
    margin: 20px;
    width: 600px;
    height: 150px;
    background: white;
    color:rgb(216, 216, 216);
    text-align: left;
    border-style: solid;
    border-top:0;
    border-left:0;
    border-right:0;
    border-radius: 1px;
  }

.name { 
    margin: 0px;
    color:#0569ffcc;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.description{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(118, 117, 117);
    text-decoration: none;

}

.logo {
    display: inline-flex;
    margin-top: 30px;
    margin-right: -10px;
    height: 40px;
    width: 70px;

}

.extraInfo{
    display: inline-flex;
    margin: 0%;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

p {
    
    margin: 0;
}